
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media Webpage</title>
    <link rel="stylesheet" href="/static/style.css"> <!-- Link to CSS file -->
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <a href="#">Home</a>
        <a href="#">Projects</a>
        <a href="#" onclick="loadResume()">Resume</a>
        <a href="#">Achievements</a>
    </div>

    <!-- User Profile -->
    <div class="profile">
        <img src="/static/ravi.jpg" alt="Profile Picture">
        <h2>Ravi Shankar Das</h2>
        <p>@ravishankardas</p>
    </div>
    <div class="content">
        <h3>Welcome!</h3>
        <p>Hi, i am Ravi. Here, you can find information about my projects, achievements, and more. Feel free to explore and get in touch!</p>
    </div>
    <script src="/static/script.js"></script>
    

   
</body>
</html>
