<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Social Media Web App</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
      }
      .unclickable {
        pointer-events: none; /* Disable click events */
        color: #fff; /* Ensure the text color remains visible */
        text-decoration: none; /* Remove underline */
      }

      .unclickable:hover {
        color: #fff; /* Keep the color consistent */
        text-shadow: none; /* Remove text shadow */
      }

      .main_text {
        margin-top: 100px;
        text-align: center;
      }

      .form-container {
        display: none; /* Hide forms by default */
      }

      .form-active {
        display: block; /* Show form when active */
      }
      .signinForm {
        display: none;
      }

      .topnav {
        overflow: hidden;
        background-color: #181616;
      }

      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }

      .topnav a.active {
        background-color: #aaa704;
        color: white;
      }

      .topnav-right {
        float: right;
      }

      .hidden {
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="#" onclick="refreshScreen()">Home</a>
      <div class="topnav-right">
        <a href="#" onclick="toggleForm('signin')" id="signin_text">Sign In</a>
        <a href="#" onclick="toggleForm('login')" id="login_text">Log In</a>
        <a href="#" onclick="logOut()" id="logoutLink">Log out</a>
      </div>
    </div>

    <div class="main_text">
      <h3 id="welcome_text">Welcome to the social media app</h3>
      <div id="contentArea"></div>

      <!-- Sign In Form -->
      <div id="signinForm" class="form-container form-active">
        <form id="createUserForm" onsubmit="submitSignInForm(event);">
          <h2>Create a new user</h2>
          <label for="email">Email:</label><br />
          <input
            type="email"
            id="signin_email"
            name="email"
            required
          /><br /><br />
          <label for="password">Password:</label><br />
          <input
            type="password"
            id="signin_password"
            name="password"
            required
          /><br /><br />
          <button type="submit">Submit</button>
        </form>
      </div>

      <!-- Log In Form -->
      <div id="loginForm" class="form-container">
        <form id="loginUserForm" onsubmit="submitLoginForm(event);">
          <h2>Log In</h2>
          <label for="login_email">Email:</label><br />
          <input
            type="email"
            id="login_email"
            name="email"
            required
          /><br /><br />
          <label for="login_password">Password:</label><br />
          <input
            type="password"
            id="login_password"
            name="password"
            required
          /><br /><br />
          <button type="submit">Log In</button>
        </form>
      </div>

      <div id="postUserForm">
        <form id="postForm" onsubmit="submitCreatePostForm(event);">
          <h2>Create a New Post</h2>

          <label for="title">Title:</label><br />
          <input type="text" id="title" name="title" required /><br /><br />

          <label for="content">Content:</label><br />
          <textarea id="content" name="content" rows="4" required></textarea
          ><br /><br />
          <button type="submit">Submit</button>
        </form>
        <div id="postFormContentArea"></div>

      </div>

    </div>

    <script>
      function refreshScreen() {
        location.reload();
      }

      let IN_DEVELOPMENT = 1;


      window.onload = function () {
        document.getElementById("signin_email").value = ""; 
        document.getElementById("signin_password").value = ""; 
        document.getElementById("login_email").value = ""; 
        document.getElementById("login_password").value = ""; 
        document.getElementById("signinForm").style.display = "none";
        document.getElementById("loginUserForm").style.display = "none";
        document.getElementById("logoutLink").classList.add("hidden");
        document.getElementById("postForm").style.display = "none";
      };

      // Function to toggle between Sign In and Log In forms
      function toggleForm(formType) {
        const signinForm = document.getElementById("signinForm");
        const loginForm = document.getElementById("loginForm");

        if (formType === "signin") {
          signinForm.classList.add("form-active");
          loginForm.classList.remove("form-active");

          document.getElementById("signin_email").value = ""; 
          document.getElementById("signin_password").value = ""; 
          
          document.getElementById("loginUserForm").style.display = "none";
          document.getElementById("signinForm").style.display = "block";
        }
        if (formType === "login") {
          loginForm.classList.add("form-active");
          signinForm.classList.remove("form-active");

          document.getElementById("login_email").value = "";
          document.getElementById("login_password").value = "";

          document.getElementById("signinForm").style.display = "none";
          document.getElementById("loginUserForm").style.display = "block";
        }
      }

      async function submitSignInForm(event) {
        event.preventDefault(); // Prevent the default form submission

        const userData = {
          email: document.getElementById("signin_email").value,
          password: document.getElementById("signin_password").value,
        };

        const user_creation_end_point =
          IN_DEVELOPMENT === 1
            ? "http://127.0.0.1:8000/users"
            : "https://fastapi-social-ravi-232824ba7d56.herokuapp.com/users";

        try {
          const response = await fetch(user_creation_end_point, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(userData),
          });

          if (response.status === 201) {
            console.log("user created succesfully!!!");
            const responseData = await response.json();
            const username = responseData.email.split("@")[0]; // Extract part before '@'
            // alert("User created successfully!");
            updateNavbarWithUsername(username, "signin");
          } else {
            const errorData = await response.json();
            console.log(`Error: ${errorData.detail}`); // Will show "User already exists"
          }
        } catch (error) {
          console.log("An error occurred: " + error.message);
        }
      }

      async function submitLoginForm(event) {
        event.preventDefault(); // Prevent form from submitting the traditional way

        const loginData = new URLSearchParams();
        login_mail = document.getElementById("login_email").value;
        loginData.append("username", login_mail);
        loginData.append(
          "password",
          document.getElementById("login_password").value
        );
        const userLoginEndPoint =
          IN_DEVELOPMENT === 1
            ? "http://127.0.0.1:8000/login"
            : "https://fastapi-social-ravi-232824ba7d56.herokuapp.com/login";
        try {
          const response = await fetch(userLoginEndPoint, {
            method: "POST",
            headers: {
              "Content-Type": "application/x-www-form-urlencoded",
            },
            body: loginData,
          });

          if (response.ok) {
            const responseData = await response.json();
            console.log("Login successful", responseData);

            // Store the access token for future use
            localStorage.setItem("access_token", responseData.access_token);
            console.log("token login: " + responseData.access_token);
            username = login_mail.split("@")[0];
            updateNavbarWithUsername(username, "login");
          } else {
            const errorData = await response.json();
            alert(`Error: ${errorData.detail}`);
          }
        } catch (error) {
          console.error("An error occurred:", error);
          alert("An error occurred while logging in. Please try again.");
        }
      }

      async function submitCreatePostForm(event) {
        event.preventDefault(); // Prevent the default form submission behavior

        const title = document.getElementById("title").value;
        const content = document.getElementById("content").value;

        const token = localStorage.getItem("access_token");
        // console.log("token post create: " + token);

        const postData = {
          title: title,
          content: content,
        };
        const postCreateEndPoint =
          IN_DEVELOPMENT === 1
            ? "http://127.0.0.1:8000/posts"
            : "https://fastapi-social-ravi-232824ba7d56.herokuapp.com/posts";

        try {
          const response = await fetch(postCreateEndPoint, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              Authorization: `Bearer ${token}`, 
            },
            body: JSON.stringify(postData), 
          });

          if (!response.ok) {
            throw new Error("Failed to create post");
          }

          const responseData = await response.json();
          // alert("Post created successfully");

          // Optionally, you can clear the form fields after successful submission
          document.getElementById("postForm").reset();
          document.getElementById("postForm").style.display = "none";
          
          const fillerText = document.createElement("p");
          fillerText.textContent = username + " created a post: " + "title = " + title + ", content: " + content; 
          document.getElementById("postFormContentArea").appendChild(fillerText);

        } catch (error) {
          console.error("Error creating post:", error);
        }
      }

      // Function to update the navbar with the username
      function updateNavbarWithUsername(username, sign_type) {
        if (sign_type === "signin") {
          const signinLink = document.getElementById("signin_text");
          signinLink.textContent = username;
          signinLink.onclick = null; // Make unclickable
          signinLink.classList.add("unclickable"); // Disable hover effect
          document.getElementById("login_text").style.display = "none"; // Hide login link
          document.getElementById("createUserForm").style.display = "none"; // Hide the form
          document.getElementById("logoutLink").classList.remove("hidden");
        } else {
          const loginInLink = document.getElementById("login_text");
          // loginInLink.style.display = "none";
          loginInLink.onclick = null;
          loginInLink.textContent = username;
          // loginInLink.style.pointerEvents = "none";
          // loginInLink.style.pointerEvents = "default";

          // loginInLink.classList.add("unclickable");
          document.getElementById("signin_text").style.display = "none";
          document.getElementById("loginUserForm").style.display = "none";
          document.getElementById("logoutLink").classList.remove("hidden");
          document.getElementById("postForm").style.display = "block";
        }

        // document.getElementById("postUserForm").style.display = "block";

        // const newParagraph = document.createElement("p");
        // newParagraph.textContent = "You are logged in as: " + username;
        // document.getElementById("contentArea").appendChild(newParagraph);
      }

      function logOut() {
        // Remove the access token from local storage
        localStorage.removeItem("access_token");

        // Update the UI
        const logoutLink = document.getElementById("logoutLink");
        const signinText = document.getElementById("signin_text");
        const loginText = document.getElementById("login_text");

        // Reset the navbar
        logoutLink.classList.add("hidden"); // Hide the logout link
        signinText.classList.remove("unclickable"); // Make Sign In clickable again
        signinText.onclick = () => toggleForm('signin'); // Restore the Sign In function
        signinText.style.display = "inline"; // Show the Sign In link
        loginText.style.display = "inline"; // Show the Log In link
        loginText.textContent = "login";
        loginText.onclick = () => toggleForm('login'); 
        // Clear the welcome text and post form
        document.getElementById("welcome_text").textContent = "Welcome to the social media app";
        document.getElementById("postForm").style.display = "none"; // Hide the post form

        // Reset the forms' fields
        document.getElementById("signin_email").value = ""; 
        document.getElementById("signin_password").value = ""; 
        document.getElementById("login_email").value = ""; 
        document.getElementById("login_password").value = ""; 

        // Show the login form
        document.getElementById("loginForm").style.display = "block"; // Ensure Log In form is shown

        // Optionally, show a confirmation message
        // alert("You have been logged out successfully.");
    }


    </script>
  </body>
</html>
